In [2]:
# 1. Charger les données dans un DataFrame Pandas et afficher un aperçu général du jeu de données.

import pandas as pd

# Charger le fichier Excel dans un DataFrame
df = pd.read_excel('ecommerce_transactions.xlsx')

# Afficher un aperçu général du jeu de données
print(df.head())  # Affiche les 5 premières lignes
print(df.info())  # Affiche des informations sur les colonnes, types et valeurs manquantes

                         Transaction ID       Date  \
0  b90c55bf-2a79-431c-bc11-c1b8e764f780 2024-03-27
1  d364d102-0604-4061-b0d2-aeb7d4495504 2024-05-31
2  cfbcc1ff-8eb9-4349-bfee-c845793aec38 2025-01-02
3  5fa27823-888d-42c4-b669-89339e2834fe 2024-08-01
4  ea5fe267-5877-4d3a-a8b5-a07a9659a673 2024-08-06

                              Client ID         Pays     Catégorie  Marque  \
0  2b9afa4c-e1ab-4d05-810c-e2342c26bffa       Gambia        Livres  accept
1  91acae16-626a-4082-8879-fbe94b170368   Madagascar        Maison   quite
2  009f5919-2d4f-4119-8a52-a624fe383028        Samoa     Vêtements   stock
3  2fb01dc7-37de-4c69-95ce-e3a4ee1e34b6  El Salvador  Électronique  garden
4  2e53eaca-a1d5-4eee-9819-3913d296bf01       Cyprus        Maison    song

   Quantité  Prix unitaire (€) Méthode de paiement  Note client  \
0         2              41.20              PayPal          4.0
1         3             354.36              PayPal          3.0
2         5             449.46       Cryptomonnaie          2.0
3         2             136.41              PayPal          3.0
4         4             155.17       Cryptomonnaie          2.0

   Montant total (€)
0              82.40
1            1063.08
2            2247.30
3             272.82
4             620.68
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Transaction ID       10000 non-null  object
 1   Date                 10000 non-null  datetime64[ns]
 2   Client ID            10000 non-null  object
 3   Pays                 10000 non-null  object
 4   Catégorie            10000 non-null  object
 5   Marque               10000 non-null  object
 6   Quantité             10000 non-null  int64
 7   Prix unitaire (€)    10000 non-null  float64
 8   Méthode de paiement  10000 non-null  object
 9   Note client          9514 non-null   float64
 10  Montant total (€)    10000 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(6)
memory usage: 859.5+ KB
None

In [ ]:
#2. Afficher les dimensions du DataFrame et le type de chaque colonne.

import pandas as pd

# Charger le fichier Excel dans un DataFrame
df = pd.read_excel('ecommerce_transactions.xlsx')


# Afficher les dimensions du DataFrame (nombre de lignes et de colonnes)
print(f"Dimensions du DataFrame: {df.shape}")

# Afficher le type de chaque colonne
print(f"Types de chaque colonne:\n{df.dtypes}")

Dimensions du DataFrame: (10000, 11)
Types de chaque colonne:
Transaction ID                 object
Date                   datetime64[ns]
Client ID                      object
Pays                           object
Catégorie                      object
Marque                         object
Quantité                        int64
Prix unitaire (€)             float64
Méthode de paiement            object
Note client                   float64
Montant total (€)             float64
dtype: object

In [12]:
# 3. Identifier les colonnes contenant des valeurs manquantes et proposer une stratégie adaptée pour
# les traiter (ex : selon la catégorie ou la méthode de paiement).

import pandas as pd

# Charger le fichier Excel dans un DataFrame
df = pd.read_excel('ecommerce_transactions.xlsx')


# Identifier les colonnes contenant des valeurs manquantes et leur nombre
missing_data = df.isnull().sum()

# Afficher les colonnes avec des valeurs manquantes
print("Colonnes avec des valeurs manquantes :")
print(missing_data[missing_data > 0])

# Pour une colonne catégorielle (Méthode de paiement)
df['Méthode de paiement'] = df['Méthode de paiement'].fillna(df['Méthode de paiement'].mode()[0])  # Remplacer par la modalité la plus fréquente

# Pour une colonne numérique (Montant total (€)), en fonction du mode de paiement
df['Montant total (€)'] = df.groupby('Méthode de paiement')['Montant total (€)'].transform(lambda x: x.fillna(x.mean()))  # Remplacer par la moyenne par mode de paiement

# Pour une colonne numérique (Quantité), en fonction de la catégorie
df['Quantité'] = df.groupby('Catégorie')['Quantité'].transform(lambda x: x.fillna(x.median()))  # Remplacer par la médiane par catégorie

Colonnes avec des valeurs manquantes :
Note client    486
dtype: int64

In [15]:
#4. Supprimer les doublons éventuels.

import pandas as pd

# Charger le fichier Excel dans un DataFrame
df = pd.read_excel('ecommerce_transactions.xlsx')

# Supprimer les doublons du DataFrame
df = df.drop_duplicates()

# Vérifier si les doublons ont bien été supprimés
print(df.shape)  # Affiche le nombre de lignes et de colonnes après suppression des doublons

# Supprimer les doublons basés sur les colonnes 'Méthode de paiement' et 'Catégorie'
df = df.drop_duplicates(subset=['Méthode de paiement', 'Catégorie'])

# Vérifier les dimensions après suppression
print(df.shape)

# enregistrer le fichier sans doublons
df.to_excel('ecommerce_transactions_modifie.xlsx', index=False)

print("Fichier enregistré sous 'ecommerce_transactions_modifie.xlsx'")

(10000, 11)
(28, 11)
Fichier enregistré sous 'ecommerce_transactions_modifie.xlsx'

In [17]:
# 5. Créer une colonne ‘Année-Mois’ à partir de la colonne ‘Date’ pour faciliter l’analyse temporelle.

import pandas as pd

# Charger le fichier Excel dans un DataFrame
df = pd.read_excel('ecommerce_transactions_modifie.xlsx')

# Assurer que la colonne 'Date' est au format datetime
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

# Créer la nouvelle colonne 'Année-Mois'
df['Année-Mois'] = df['Date'].dt.to_period('M')  # Format Année-Mois (ex: 2025-04)

print(df.head())  # Affiche les 5 premières lignes

# Enregistrer le DataFrame modifié dans un nouveau fichier Excel
df.to_excel('ecommerce_transactions_modifie.xlsx', index=False)

                         Transaction ID       Date  \
0  b90c55bf-2a79-431c-bc11-c1b8e764f780 2024-03-27
1  d364d102-0604-4061-b0d2-aeb7d4495504 2024-05-31
2  cfbcc1ff-8eb9-4349-bfee-c845793aec38 2025-01-02
3  5fa27823-888d-42c4-b669-89339e2834fe 2024-08-01
4  ea5fe267-5877-4d3a-a8b5-a07a9659a673 2024-08-06

                              Client ID         Pays     Catégorie  Marque  \
0  2b9afa4c-e1ab-4d05-810c-e2342c26bffa       Gambia        Livres  accept
1  91acae16-626a-4082-8879-fbe94b170368   Madagascar        Maison   quite
2  009f5919-2d4f-4119-8a52-a624fe383028        Samoa     Vêtements   stock
3  2fb01dc7-37de-4c69-95ce-e3a4ee1e34b6  El Salvador  Électronique  garden
4  2e53eaca-a1d5-4eee-9819-3913d296bf01       Cyprus        Maison    song

   Quantité  Prix unitaire (€) Méthode de paiement  Note client  \
0         2              41.20              PayPal          4.0
1         3             354.36              PayPal          3.0
2         5             449.46       Cryptomonnaie          2.0
3         2             136.41              PayPal          3.0
4         4             155.17       Cryptomonnaie          2.0

   Montant total (€) Année-Mois
0              82.40    2024-03
1            1063.08    2024-05
2            2247.30    2025-01
3             272.82    2024-08
4             620.68    2024-08

In [18]:
# 6. Afficher les 5 pays générant le plus de chiffre d’affaires total.

import pandas as pd

# Charger le fichier Excel dans un DataFrame
df = pd.read_excel('ecommerce_transactions_modifie.xlsx')

# Calculer le chiffre d'affaires total par pays
chiffre_affaires_par_pays = df.groupby('Pays')['Montant total (€)'].sum()

# Trier par chiffre d'affaires décroissant et sélectionner les 5 premiers
top_5_pays = chiffre_affaires_par_pays.sort_values(ascending=False).head(5)

# Afficher les résultats
print(top_5_pays)

Pays
Samoa                        2247.30
Bouvet Island (Bouvetoya)    1514.12
Greece                       1449.84
Jamaica                      1220.24
Kenya                        1095.33
Name: Montant total (€), dtype: float64